<table>
  <tr>
    <th>Name</th>
    <th>Selector</th>
    <th>Url</th>
    <th>Num Columns</th>
    <th>Num Rows</th>
  </tr>
 
<% @relations.each do |relation| %>
  <tr>
    <td><%= relation.name %></td>
    <td><%= relation.selector %></td>
    <td><%= relation.url.url %></td>
    <td><%= relation.num_columns %></td>
    <td><%= relation.num_rows_in_demonstration %></td>
  </tr>
<% end %>
</table>